{% extends "base.html" %}
{% block content %}
  <form name="input" action="/borrower/" method="get">
    <b>Sign up:</b><br/>
    first name: 
    <input type="text" name="fname" style="position:absolute;left:100px"/>
    <br/>
    last name: 
    <input type="text" name="lname" style="position:absolute;left:100px"/>
    <br/>
    address: 
    <input type="text" name="address" style="position:absolute;left:100px"/>
    <br/>
    phone: 
    <input type="text" name="phone" style="position:absolute;left:100px"/>
    <br/>
    <input type="submit" value="sign up"/>
  </form>
{% endblock %}