{% extends "base.html" %}
{% block content %}
  <form name="input" action="/check_out/" method="get">
    <b>Check out:</b><br/>
    book id: 
    <input type="text" name="book_id" style="position:absolute;left:100px"/>
    <br/>
    branch id: 
    <input type="text" name="branch_id" style="position:absolute;left:100px"/>
    <br/>
    card no: 
    <input type="text" name="card_no" style="position:absolute;left:100px"/>
    <br/>
    <input type="submit" value="check out"/>
  </form>
  {% for book in book_datas %}
  <p>book id: <b>{{book.book_id}}</b> title: <b>{{book.title}}</b> author: <b>{{book.author}}</b></p>
  {% for branch_info in book.branch %}
    <p>branch id: {{branch_info.branch_id}} No of copies: {{branch_info.no_of_copies}}</p>
  {% endfor %}
  {% endfor %}
{% endblock %}